html {
    width: 1080px;
    height: 100%;
    background-image: url(../images/forest-stars-background.jpg);
    font-family: 'Ruslan Display', cursive;
    color: yellow;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#questionWrapper {
    display: none;
    text-align:center;
    font-size: 30px;
}
#questImage {
    height:300px;
    width:500px;
}
#questImage2 {
    height:300px;
    width:400px;
}
footer {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
header {
    font-size: 45px;
    text-align: center;
}
#begin {
    margin-left: 480px;
    padding: 10px;
    font-family: 'Ruslan Display', cursive;
    font-size: 25px;
    margin-bottom: 10px;
}
#submit {
    padding: 10px;
    font-family: 'Ruslan Display', cursive;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 480px;
    display: none;
}
#tryAgain {
    padding: 10px;
    font-family: 'Ruslan Display', cursive;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 480px;
    display: none;
}
#timerDiv {
    text-align:center;
    font-size: 50px;
}
#total {
    font-size: 45px;
    text-align: center;
}